<!DOCTYPE html>
<html>
  <head>
    <title>AgorizeHackathon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
    <%= link_to "HOME", root_url%>
    |
    <%= link_to "USERS", users_path%>
    |
    <%= link_to "SKILLS", skills_path%>
    |
    <%= link_to "ADD SKILLS TO USERS", skills_users_path%>
    </p>
    <%= yield %>
  </body>
</html>
